In [1]:
from tmall_utils import *  # 引用寫好的 function
from collections import Counter
import datetime as dt
import json
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
import pathlib
from scipy import stats
import seaborn as sns
from sklearn.cluster import AgglomerativeClustering
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Variables
dataset_folderpath = 'TMall_dataset/'
preprocessed_folderpath = 'TMall_preprocessed/'
output_folderpath = 'TMall_output/'
tmall_log_filepath = 'TMall_for_user_states_define_transformed.pkl'
produce_date = str(dt.date.today()).replace('-', '')
start_day = 178
end_day = 184
label = 'none'
check_best_centers = False  # {True, False}
check_cluster_transition = False  # {True, False}
cluster_method = 'hcut'  # {'hcut', 'kmeans'}
center = 8  # center ≥ 2
OM_version = 'OMstran'  # {'OM', 'OMloc', 'OMslen', 'OMspell', 'OMstran'}
sm_method = 'TRATE'
indel_method = 'auto'
version = f'V3.2-duration_{start_day}_{end_day}-label_{label}'
state_sequence_output_filepath = f'TMall_user_state_sequence_table_{produce_date}_{version}.csv'
action_count_output_filepath = f'action_counts-{produce_date}_{version}.csv'
file_name = f'{produce_date}_V3.2-duration_{start_day}_{end_day}-label_{label}'

#### 創建資料夾及載入資料集

In [10]:
# 若本地端沒有該資料夾則則創建
for path in [preprocessed_folderpath, output_folderpath]:
    path = pathlib.Path(path)
    path.mkdir(parents=True, exist_ok=True)

# 載入資料集
df = pd.read_pickle(dataset_folderpath + tmall_log_filepath)

# 排除 11/12 的少量流量，統一將雙 11 當天作為最後一天
df = df[df['time_stamp']<=1111]
print('Shape of tmall web log dataset: ', df.shape)
df.head()
print('Show proportion of user features: ')
for col in ['age_range', 'gender']:
    print(df.groupby([col]).size())

Shape of tmall web log dataset:  (54925284, 17)

,user_id,item_id,cat_id,merchant_id,brand_id,time_stamp,age_range,gender,click,add_to_cart,purchase,add_to_favorite,day,month,dayOfWeek,day_stamp,weekOfYear
0,328862,323294,833,2882,2661,829,6.0,1.0,1,0,0,0,29,8,4,110,34
1,328862,844400,1271,2882,2661,829,6.0,1.0,1,0,0,0,29,8,4,110,34
2,328862,575153,1271,2882,2661,829,6.0,1.0,1,0,0,0,29,8,4,110,34
3,328862,996875,1271,2882,2661,829,6.0,1.0,1,0,0,0,29,8,4,110,34
4,328862,1086186,1271,1253,1049,829,6.0,1.0,1,0,0,0,29,8,4,110,34

Show proportion of user features:
age_range
0.0     9931159
1.0        1721
2.0     5385015
3.0    14976839
4.0    11802045
5.0     6199995
6.0     5413712
7.0     1052264
8.0      162534
dtype: int64
gender
0.0    40734644
1.0    12135516
2.0     2055124
dtype: int64

### 資料前處理與特徵工程

#### 研究對象用戶抽樣
- 根據年齡層抽樣

In [11]:
# 依據年齡層抽樣用戶
user_with_agerange = df[['user_id', 'age_range']].drop_duplicates()
agerange_proportion = user_with_agerange.groupby(['age_range']).size().reset_index().rename(columns={0: 'count'})
agerange_proportion['percentage'] = agerange_proportion['count'] / agerange_proportion['count'].sum()
user_with_agerange = pd.merge(user_with_agerange, agerange_proportion[['age_range', 'percentage']], on='age_range', how='left')
sampled_user_with_agerange = user_with_agerange.sample(frac=0.01, weights='percentage')
print(sampled_user_with_agerange.shape)
sampled_user_with_agerange.head()
user_list = sampled_user_with_agerange.user_id.unique()
sampled_df = df[df['user_id'].isin(user_list)].sort_values('day_stamp').reset_index()
sampled_df = sampled_df.drop(['index'], axis=1)

# 儲存抽樣後用戶備用
sampled_df.to_csv(preprocessed_folderpath + f'Tmall-sampledData_agerange-{produce_date}_{version}.csv', index=False)

# 僅篩選抽樣用戶行為紀錄使用
sampled_df = sampled_df[(sampled_df['day_stamp'] >= start_day) & (sampled_df['day_stamp'] <= end_day)]

(4242, 3)

        user_id  age_range  percentage
234853   177050        0.0    0.219049
25003    228403        3.0    0.268456
290620    89261        0.0    0.219049
119369    43439        5.0    0.096134
182143   123529        3.0    0.268456

#### 將物流進程日誌轉換為狀態序列

In [12]:
# 以字典儲存抽樣用戶的每日各項行為次數
accum_by_timestamp = user_daily_behavior_todict(user_list=user_list, sampled_df=sampled_df, start_day=start_day, end_day=end_day)
with open(preprocessed_folderpath + 'TMall_user_counts_{}_{}.json'.format(produce_date, version), 'w') as fp:
    json.dump(accum_by_timestamp, fp)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4242/4242 [00:46<00:00, 91.79it/s]

In [13]:
# 測試能否順利載入
with open(preprocessed_folderpath + 'TMall_user_counts_{}_{}.json'.format(produce_date, version), 'r') as f:
    tmall_user_count_stats = json.load(f)
# print(tmall_user_count_stats.keys())

In [14]:
# 將字典中所有抽樣用戶每日各項行為次數，轉換為狀態序列矩陣
user_daily_states = user_daily_state_tolist(user_action_dict=tmall_user_count_stats)

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4242/4242 [00:13<00:00, 308.07it/s]

In [23]:
# 儲存用戶狀態序列為 .csv
print(produce_date, version)

columns = ['user_id'] + ['day_' + str(x) for x in range(start_day, end_day + 1)]
user_states_table = pd.DataFrame(user_daily_states, columns=columns)
user_states_table.to_csv(preprocessed_folderpath + state_sequence_output_filepath, index=False)
user_states_table.head()

20210715 V3.2-duration_178_184-label_none

,user_id,day_178,day_179,day_180,day_181,day_182,day_183,day_184
0,177050,no_browse,browse_to_add_to_consider,no_browse,no_browse,browse,browse_to_purchase,browse_to_purchase
1,228403,no_browse,no_browse,no_browse,no_browse,no_browse,no_browse,browse_to_purchase
2,89261,no_browse,no_browse,no_browse,no_browse,no_browse,browse,browse_to_purchase
3,43439,no_browse,no_browse,no_browse,no_browse,no_browse,no_browse,browse_to_purchase
4,123529,browse_to_add_to_consider,browse,no_browse,directly_add_to_consider,no_browse,no_browse,directly_purchase

In [21]:
# 計算每位用戶行為事件次數累計
action_types = list(set(user_states_table.iloc[:, 1:user_states_table.shape[1]].values.reshape(-1)))
seq_agg_count_list = user_states_table.iloc[:, 1:user_states_table.shape[1]].apply(count_action_num, axis=1).values
for _id in tqdm(range(0, len(seq_agg_count_list))):
    if _id == 0:
        df_action_agg = pd.DataFrame([seq_agg_count_list[_id]])
    else:
        df_action_agg = pd.concat([df_action_agg, pd.DataFrame([seq_agg_count_list[_id]])])
        
df_action_agg['user_id'] = user_states_table['user_id'].values
df_action_agg = df_action_agg.reset_index().drop(['index'], axis=1)
df_action_agg.to_csv(preprocessed_folderpath + action_count_output_filepath, index=False)
print(df_action_agg.shape)
df_action_agg.head()

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4242/4242 [00:03<00:00, 1210.65it/s]

(4242, 7)

,browse,browse_to_add_to_consider,browse_to_purchase,directly_add_to_consider,directly_purchase,no_browse,user_id
0,1,1,2,0,0,3,177050
1,0,0,1,0,0,6,228403
2,1,0,1,0,0,5,89261
3,0,0,1,0,0,6,43439
4,1,1,0,1,1,3,123529

In [22]:
# 檢視用戶狀態分布比例
states_count_dict = dict(Counter(user_states_table.iloc[:, 1:user_states_table.shape[1]].values.reshape(-1).tolist()))
states_count_df = pd.DataFrame([list(states_count_dict.keys()), list(states_count_dict.values())]).T
states_count_df.columns = ['action', 'count']
states_count_df.to_csv(preprocessed_folderpath + f'TMall_user_state-count_{produce_date}_{version}.csv', index=False)
states_count_df

                      action  count
0                  no_browse  19392
1  browse_to_add_to_consider   1677
2                     browse   3387
3         browse_to_purchase   4424
4   directly_add_to_consider    420
5          directly_purchase    394

### Optimal Matching Analysis (using R)

#### 載入資料

```r
library('TraMineR')
library('cluster')
library('factoextra')
library('NbClust')
library('caret')
library('RcmdrMisc')
library('ggplot2')

# Variables
case_name = 'Tmall'
preprocess_folderpath <- sprintf('%s/%s_preprocessed', case_name, case_name)
output_folderpath <- sprintf('%s/%s_output', case_name, case_name)
produce_date <- '20210715'
start_day <- 178
end_day <- 184
label <- 'none'

# Assign case name
if (case_name == 'TMall') {
  file_name <- sprintf('%s_V3.2-duration_%s_%s-label_%s', produce_date, start_day, end_day, label)
  data <- read.csv(sprintf('%s/TMall_user_state_sequence_table_%s.csv', preprocess_folderpath, file_name))
  action_counts <- read.csv(sprintf('%s/action_counts-%s.csv', preprocess_folderpath, file_name))
  colorset <- c("gray", "forestgreen", "darkorange3", "green", "gold", "white")
} else {
  file_name <- sprintf('%s-sentday_%s', produce_date, sent_day)
  data <- read.csv(sprintf('%s/order_logistic_states-%s.csv', preprocess_folderpath, file_name))
  colorset <- c("white","aquamarine3","azure1","azure2","dodgerblue1","aquamarine1","azure3","aquamarine4","green","green3")
}

```

#### 計算狀態轉移矩陣、置換/增刪成本、相異度矩陣

```r
# Check if missing values exist
data[is.na(data)]

# Sequence Formatting
data.seq <- seqdef(data, 2:dim(data)[2], xtstep=6)

# Transition rates between states
data.trate <- round(seqtrate(data.seq, time.varying = FALSE), 2)
View(data.trate)
write.csv(data.trate, sprintf('%s/transition_rate_%s.csv', preprocess_folderpath, file_name))

# Substitution Cost & Indel Cost
data.seq.cost <- seqcost(data.seq, method='TRATE')
write.csv(data.seq.cost$sm, sprintf('%s/substitution_cost_matrix_%s.csv', preprocess_folderpath, file_name))

# Optimal Matching: computing distances between sequences
data.om <- seqdist(data.seq, method = 'OMstran', sm = 'TRATE', indel = "auto")  # method = {'OM', 'OMloc', 'OMslen', 'OMspell', 'OMstran'}

# output - dissimilarity matrix
write.csv(data.om, 
          sprintf('%s/dissimilarity_matrix-%s-seqdist_%s-sm_%s-indel_%s.csv', 
                  preprocess_folderpath, file_name, 'OMstran', 'TRATE', 'auto'), 
          row.names = FALSE)

```

### 分群分析

#### 搜尋最佳群數 (R)

```r
# Find optimal number of clusters, method = "silhouette", "wss"
fviz_nbclust(data.om, FUNcluster = hcut, method = "silhouette", k.max = 8, print.summary = TRUE)
```

#### 搜尋最佳群數 (Python)

In [ ]:
if check_best_centers:
    cluster_methods = ['hcut', 'kmeans']
    OM_versions = ['OM', 'OMloc', 'OMslen', 'OMspell', 'OMstran']

    print('Start checking for best cluster center number...')
    for cluster_method in cluster_methods:
        for OM_version in OM_versions:
            silhouette_plot(file_name=file_name, OM_version=OM_version, sm_method=sm_method, indel_method=indel_method,
                            cluster_method=cluster_method, max_cluster=8)

#### 分群演算法並回標原資料集

```r
# Clustering: Hierarchical Clusterin
# (1) With origin data
clusterward <- agnes(action_counts, diss = FALSE, method = 'ward')
cluster.result.ac <- cutree(clusterward, k=8)

# (2) With dissimilarity matrix
clusterward <- agnes(data.om, diss = TRUE, method = 'ward')
cluster.result.om <- cutree(clusterward, k=8)

# Clustering: K-means
# (1) With origin data
cluster.result.ac <- kmeans(action_counts, centers = 8)$cluster

# (2) With dissimilarity matrix
cluster.result.om <- kmeans(data.om, centers = 8)$cluster

# change cluster label name
cluster.label.ac <- factor(cluster.result.ac, labels = paste('Cluster'), 1:8)
cluster.label.om <- factor(cluster.result.om, labels = paste('Cluster'), 1:8)


# output - cluster labels add back to user state sequences data
action_counts$hcut_cluster <- cluster.label.ac

data$hcut_cluster <- cluster.label.om

write.csv(data, 
          sprintf('%s/clustered-%s-seqdist_%s-sm_%s-indel_%s-method_%s-center_%s.csv',
                  output_folderpath, file_name, 'OMstran', 'TRATE', 'auto', 'hcut', '8'), 
          row.names = FALSE)

write.csv(action_counts, 
          sprintf('%s/clustered-%s-seqdist_%s-method_%s-center_%s.csv',
                  output_folderpath, file_name, 'action_counts', 'hcut', '8'), 
          row.names = FALSE)
```

#### 序列狀態分布圖

```r
# Plots
plot_name <- sprintf('%s/cluster_distribution-%s-seqdist_%s-sm_%s-indel_%s-method_%s-center_%s', 
                     output_folderpath, file_name, 'OMstran', 'TRATE', 'auto', 'hcut', '8')

# State distribution plot
seqdplot(data.seq, group = cluster.label.ac, border=NA, cpal=colorset)
seqdplot(data.seq, group = cluster.label.om, border=NA, cpal=colorset)


```

### 計算分群指標及其統計顯著性

#### 載入中間產出資料集

In [3]:
# 已標記分群標籤的用戶序列資料
clusteredSeqs = pd.read_csv(output_folderpath + f'clustered-{file_name}-seqdist_{OM_version}-sm_{sm_method}-indel_{indel_method}-method_{cluster_method}-center_{center}.csv')
clusteredSeqs = clusteredSeqs[['user_id', f'{cluster_method}_cluster']]
print(clusteredSeqs.shape)
clusteredSeqs.head()

# 前面預存之抽樣用戶行為紀錄
sampledWebLog = pd.read_csv(preprocessed_folderpath + f'Tmall-sampledData_agerange-{file_name}.csv')
print(sampledWebLog.shape)
sampledWebLog.head()

(4242, 2)

   user_id hcut_cluster
0   177050     Cluster1
1   228403     Cluster2
2    89261     Cluster1
3    43439     Cluster2
4   123529     Cluster3

(537042, 17)

,user_id,item_id,cat_id,merchant_id,brand_id,time_stamp,age_range,gender,click,add_to_cart,purchase,add_to_favorite,day,month,dayOfWeek,day_stamp,weekOfYear
0,380565,265897,119,1783,5041.0,511,3.0,0.0,0,0,1,0,11,5,6,0,18
1,219981,742103,384,1462,4925.0,511,6.0,0.0,0,0,1,0,11,5,6,0,18
2,422537,377212,1526,1505,5472.0,511,4.0,0.0,0,0,1,0,11,5,6,0,18
3,219981,768332,662,3596,532.0,511,6.0,0.0,0,0,1,0,11,5,6,0,18
4,219981,54824,931,1462,4925.0,511,6.0,0.0,0,0,1,0,11,5,6,0,18

#### 計算分群結果移轉情形

In [5]:
if check_cluster_transition:
    
    action_counts_clust = pd.read_csv(output_folderpath + f'clustered-{file_name}-seqdist_action_counts-method_{cluster_method}-center_{center}.csv')
    action_counts_cluster_perc = cluster_result_transition(clusteredSeqs, action_counts_clust, cluster_method)
    action_counts_cluster_perc.to_csv(output_folderpath + f'cluster_transition-action_counts-{file_name}-seqdist_{OM_version}-sm_{sm_method}-indel_{indel_method}-method_{cluster_method}-center_{center}.csv', index=True)

      user_id hcut_cluster action_counts_cluster
0      177050     Cluster1              Cluster1
1      228403     Cluster2              Cluster2
2       89261     Cluster1              Cluster3
3       43439     Cluster2              Cluster4
4      123529     Cluster3              Cluster3
...       ...          ...                   ...
4237    45808     Cluster2              Cluster4
4238    64522     Cluster5              Cluster4
4239   194180     Cluster2              Cluster8
4240   114401     Cluster1              Cluster3
4241   330011     Cluster2              Cluster6

[4242 rows x 3 columns]
hcut_cluster           Cluster1  Cluster2  Cluster3  Cluster4  Cluster5  \
action_counts_cluster
Cluster1                     81       122        25        43        84
Cluster2                     79       146        21        43        67
Cluster3                    131       206        32        91       117
Cluster4                    158       222        51        83       145
Cluster5                    133       166        30        68       118
Cluster6                    134       240        46        68       119
Cluster7                     72       137        14        45        94
Cluster8                     74       135        22        52        92

hcut_cluster           Cluster6  Cluster7  Cluster8
action_counts_cluster
Cluster1                     11         7        29
Cluster2                     15         8        18
Cluster3                     22        12        33
Cluster4                     27         8        37
Cluster5                     13         7        48
Cluster6                     12        10        37
Cluster7                     10         9        18
Cluster8                     13         8        24
hcut_cluster           Cluster1  Cluster2  Cluster3  Cluster4  Cluster5  \
action_counts_cluster
Cluster1                  0.094     0.089     0.104     0.087     0.100
Cluster2                  0.092     0.106     0.087     0.087     0.080
Cluster3                  0.152     0.150     0.133     0.185     0.140
Cluster4                  0.183     0.162     0.212     0.168     0.173
Cluster5                  0.154     0.121     0.124     0.138     0.141
Cluster6                  0.155     0.175     0.191     0.138     0.142
Cluster7                  0.084     0.100     0.058     0.091     0.112
Cluster8                  0.086     0.098     0.091     0.105     0.110

hcut_cluster           Cluster6  Cluster7  Cluster8
action_counts_cluster
Cluster1                  0.089     0.101     0.119
Cluster2                  0.122     0.116     0.074
Cluster3                  0.179     0.174     0.135
Cluster4                  0.220     0.116     0.152
Cluster5                  0.106     0.101     0.197
Cluster6                  0.098     0.145     0.152
Cluster7                  0.081     0.130     0.074
Cluster8                  0.106     0.116     0.098

#### 計算分群前的總體指標
- 平均值
- 標準差
- 中位數

In [6]:
# 計算每位用戶的指標，並與分群結果合併
df_by_user = compute_user_metrics(df=sampledWebLog, clustered_df=clusteredSeqs)
df_by_user

# 計算分群前的總體指標平均、標準差與中位數
origin_metrics = compute_origin_metrics(df_by_user)
origin_metrics.to_csv(output_folderpath + f'origin_metrics-{file_name}.csv', index=True)

# 計算分群前的性別佔比
gender_perc = df_by_user.groupby(['性別'])['user_id'].count().reset_index().rename(columns={'user_id': 'proportion'})
gender_perc['proportion'] = round(gender_perc['proportion'] / gender_perc['proportion'].sum() * 100, 3)
gender_perc.to_csv(output_folderpath + f'origin_metrics_gender-{file_name}.csv', index=True)
gender_perc

# 計算分群前的年齡層佔比
age_perc = df_by_user.groupby(['年齡層'])['user_id'].count().reset_index().rename(columns={'user_id': 'proportion'})
age_perc['proportion'] = round(age_perc['proportion'] / age_perc['proportion'].sum() * 100, 3)
age_perc.to_csv(output_folderpath + f'origin_metrics_age-{file_name}.csv', index=True)
age_perc

user_id                              0
gender                               0
age_range                            0
daysVisited                          0
clicks                               0
add_to_carts                         0
add_to_favorites                     0
purchases                            0
unique_cat_clicks                    0
unique_merchant_clicks               0
unique_brand_clicks                  0
unique_cat_addToCarts             3941
unique_merchant_addToCarts        3941
unique_brand_addToCarts           3941
unique_cat_addToFavorites         1921
unique_merchant_addToFavorites    1921
unique_brand_addToFavorites       1921
unique_cat_purchases                 0
unique_merchant_purchases            0
unique_brand_purchases               0
purchasesOn1111                      0
purchasesBefore1111                  0
cvr                                  0
isRepeatBuyer                        0
dtype: int64

,user_id,性別,年齡層,每人進站天數,每人總點擊數,每人總購物車數,每人總願望清單數,每人總購買數,每人點擊不重複品類數,每人點擊不重複商家數,每人點擊不重複品牌數,每人購物車不重複品類數,每人購物車不重複商家數,每人購物車不重複品牌數,每人願望清單不重複品類數,每人願望清單不重複商家數,每人願望清單不重複品牌數,每人購買不重複品類數,每人購買不重複商家數,每人購買不重複品牌數,雙11當天購買數,雙11前購買數,轉換率,是否為回購者,om_cluster
0,51,0.0,4.0,24,203,0,4,3,27,48,51,0.0,0.0,0.0,3.0,4.0,4.0,3,3,3,1,2,0.014778,1,Cluster1
1,386,0.0,0.0,10,46,0,0,1,13,27,27,0.0,0.0,0.0,0.0,0.0,0.0,1,1,1,1,0,0.021739,0,Cluster2
2,424,0.0,4.0,4,51,0,3,7,23,21,23,0.0,0.0,0.0,3.0,3.0,3.0,6,4,4,7,0,0.137255,1,Cluster4
3,496,0.0,0.0,12,170,0,17,5,6,13,12,0.0,0.0,0.0,3.0,5.0,4.0,4,4,4,2,3,0.029412,1,Cluster4
4,636,0.0,0.0,23,78,0,35,13,29,28,28,0.0,0.0,0.0,16.0,17.0,17.0,8,7,7,3,10,0.166667,1,Cluster6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4237,423882,0.0,0.0,26,215,0,0,7,34,57,50,0.0,0.0,0.0,0.0,0.0,0.0,6,6,6,3,4,0.032558,1,Cluster2
4238,423892,1.0,0.0,7,21,0,0,2,6,9,7,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,1,1,0.095238,1,Cluster1
4239,423942,1.0,3.0,9,29,0,0,2,11,15,16,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,1,1,0.068966,1,Cluster2
4240,423971,0.0,0.0,6,36,0,0,3,8,14,14,0.0,0.0,0.0,0.0,0.0,0.0,3,3,3,2,1,0.083333,1,Cluster2
4241,424014,0.0,3.0,19,157,0,1,8,22,24,24,0.0,0.0,0.0,1.0,1.0,1.0,2,3,3,2,6,0.050955,1,Cluster5

    性別  proportion
0  0.0      70.061
1  1.0      27.534
2  2.0       2.405

   年齡層  proportion
0  0.0      24.776
1  2.0       8.416
2  3.0      40.264
3  4.0      17.751
4  5.0       5.092
5  6.0       3.465
6  7.0       0.236

#### 計算分群後各群的總體指標
- 平均值
- 標準差
- 中位數

In [8]:
# 計算分群後，各群各指標的平均、標準差與中位數
cluster_metrics = compute_cluster_metrics(df_by_user)
cluster_metrics.to_csv(output_folderpath + f'cluster_metrics-{file_name}-seqdist_{OM_version}-sm_{sm_method}-indel_{indel_method}-method_{cluster_method}-center_{center}.csv',
                       index=True)
cluster_metrics

# 計算各群性別佔比表
gender_perc = df_by_user.groupby(['om_cluster', '性別'])['user_id'].count().groupby(level=0).apply(lambda x: x / x.sum() * 100).reset_index()
gender_perc_pivot = gender_perc.pivot(index='性別', columns='om_cluster', values='user_id').apply(lambda x: round(x, 3))
gender_perc_pivot.to_csv(output_folderpath + f'cluster_metrics_gender-{file_name}-seqdist_{OM_version}-sm_{sm_method}-indel_{indel_method}-method_{cluster_method}-center_{center}.csv',
                         index=True)
gender_perc_pivot

# 計算各群年齡層佔比表
age_perc = df_by_user.groupby(['om_cluster', '年齡層'])['user_id'].count().groupby(level=0).apply(lambda x: x / x.sum() * 100).reset_index()
age_perc_pivot = age_perc.pivot(index='年齡層', columns='om_cluster', values='user_id').apply(lambda x: round(x, 3))
age_perc_pivot.to_csv(output_folderpath + f'cluster_metrics_age-{file_name}-seqdist_{OM_version}-sm_{sm_method}-indel-{indel_method}-method_{cluster_method}-center_{center}.csv',
                      index=True)
age_perc_pivot

,Cluster1(mean),Cluster2(mean),Cluster3(mean),Cluster4(mean),Cluster5(mean),Cluster6(mean),Cluster7(mean),Cluster8(mean),Cluster1(std),Cluster2(std),Cluster3(std),Cluster4(std),Cluster5(std),Cluster6(std),Cluster7(std),Cluster8(std),Cluster1(median),Cluster2(median),Cluster3(median),Cluster4(median),Cluster5(median),Cluster6(median),Cluster7(median),Cluster8(median)
每人點擊不重複品類數,23.133,17.154,13.846,29.294,23.989,26.821,34.333,29.037,15.303,13.051,9.347,18.508,16.509,15.572,17.411,20.879,20.0,14.0,11.0,25.0,20.0,24.0,30.0,24.0
每人點擊不重複商家數,33.992,23.531,17.195,47.329,36.141,37.959,59.507,46.504,28.870,25.418,16.080,43.881,33.711,27.659,44.177,43.319,25.0,16.0,13.0,35.0,26.0,30.0,47.0,32.0
每人點擊不重複品牌數,33.644,23.428,17.411,46.925,35.742,37.569,58.522,46.287,28.252,24.855,16.034,42.840,32.969,27.274,42.257,42.634,25.5,16.5,13.0,35.0,26.0,29.0,48.0,32.0
每人購物車不重複品類數,0.082,0.103,0.075,0.325,0.072,0.260,0.261,0.352,0.416,0.551,0.431,0.952,0.412,0.886,0.869,1.010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
每人購物車不重複商家數,0.079,0.107,0.075,0.339,0.071,0.236,0.275,0.369,0.384,0.573,0.431,0.992,0.425,0.831,0.922,1.079,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
每人購物車不重複品牌數,0.052,0.055,0.046,0.158,0.042,0.106,0.101,0.148,0.223,0.229,0.209,0.365,0.200,0.309,0.304,0.355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
每人願望清單不重複品類數,2.056,1.595,3.328,9.162,2.230,13.065,7.377,8.086,4.277,3.731,5.830,9.055,5.276,11.483,6.754,9.459,0.0,0.0,1.0,6.0,0.0,10.0,5.0,4.0
每人願望清單不重複商家數,2.275,1.843,4.162,11.677,2.571,16.927,9.623,10.643,5.233,4.934,8.730,13.794,6.771,16.286,11.461,14.554,0.0,0.0,1.0,7.0,0.0,11.0,5.0,5.0
每人願望清單不重複品牌數,2.284,1.833,4.183,11.586,2.573,16.577,9.580,10.607,5.265,4.885,8.780,13.623,6.693,15.888,11.348,14.409,0.0,0.0,1.0,7.0,0.0,11.0,5.0,5.0
每人購買不重複品類數,5.686,4.869,4.685,6.416,5.801,7.350,6.942,5.615,4.425,3.925,3.634,4.746,4.812,4.622,5.125,4.790,5.0,4.0,4.0,5.0,4.0,6.0,6.0,4.0
每人購買不重複商家數,5.218,4.495,4.448,5.854,5.443,6.813,6.406,5.119,4.077,3.600,3.891,4.511,4.648,4.307,5.117,4.229,4.0,4.0,4.0,5.0,4.0,6.0,5.0,4.0
每人購買不重複品牌數,5.262,4.541,4.490,5.953,5.449,6.829,6.478,5.148,4.075,3.622,3.861,4.584,4.582,4.298,5.172,4.208,4.0,4.0,4.0,5.0,4.0,6.0,5.0,4.0

om_cluster,Cluster1,Cluster2,Cluster3,Cluster4,Cluster5,Cluster6,Cluster7,Cluster8
性別,,,,,,,,
0.0,68.794,65.138,71.784,73.428,73.684,76.423,84.058,74.180
1.0,28.422,32.242,26.556,23.529,25.478,16.260,15.942,22.951
2.0,2.784,2.620,1.660,3.043,0.837,7.317,NaN,2.869

om_cluster,Cluster1,Cluster2,Cluster3,Cluster4,Cluster5,Cluster6,Cluster7,Cluster8
年齡層,,,,,,,,
0.0,25.870,26.638,23.651,18.661,25.478,17.073,26.087,25.000
2.0,7.657,8.006,14.938,8.722,7.177,5.691,11.594,11.066
3.0,39.211,39.083,36.929,48.479,40.072,47.967,37.681,34.836
4.0,16.473,18.559,16.598,16.836,17.464,22.764,13.043,20.492
5.0,6.265,4.876,4.979,4.260,5.024,4.065,5.797,4.508
6.0,4.408,2.620,2.905,2.637,4.426,1.626,5.797,4.098
7.0,0.116,0.218,NaN,0.406,0.359,0.813,NaN,NaN

#### 計算兩群間樣本特徵分布顯著性

In [9]:
# 計算兩樣本特徵分布顯著性
metrics_to_compare = ['性別', '年齡層', '每人點擊不重複品類數', '每人點擊不重複商家數', '每人點擊不重複品牌數']
for metric in metrics_to_compare:
    compute_kruskal_wallis_test(df=df_by_user, metric=metric, cluster_num=center)

Kruskal-Wallis Significance Test: 性別

Origin  v.s.  Cluster1
KruskalResult(statistic=0.6147161802985099, pvalue=0.43301759072502266)

Cluster1  v.s.  Cluster2
KruskalResult(statistic=2.881385579547441, pvalue=0.08960888550936288)
Cluster1  v.s.  Cluster3
KruskalResult(statistic=0.932015122721681, pvalue=0.3343398435797852)
Cluster1  v.s.  Cluster4
KruskalResult(statistic=2.917440412245045, pvalue=0.08762676062627027)
Cluster1  v.s.  Cluster5
KruskalResult(statistic=5.9065863178876965, pvalue=0.015084375208954738)
Cluster1  v.s.  Cluster6
KruskalResult(statistic=1.8125649793803966, pvalue=0.17820084256603957)
Cluster1  v.s.  Cluster7
KruskalResult(statistic=7.41275897702716, pvalue=0.006476293213179214)
Cluster1  v.s.  Cluster8
KruskalResult(statistic=2.428956506927441, pvalue=0.11911216476672597)
Origin  v.s.  Cluster2
KruskalResult(statistic=11.356117755885936, pvalue=0.000751998498385067)

Cluster2  v.s.  Cluster3
KruskalResult(statistic=4.189227290140264, pvalue=0.04068163585369113)
Cluster2  v.s.  Cluster4
KruskalResult(statistic=10.229599184689487, pvalue=0.0013820469290776627)
Cluster2  v.s.  Cluster5
KruskalResult(statistic=19.05508582156639, pvalue=1.2699886101859182e-05)
Cluster2  v.s.  Cluster6
KruskalResult(statistic=4.339550276558869, pvalue=0.03723675791431253)
Cluster2  v.s.  Cluster7
KruskalResult(statistic=10.818732328463442, pvalue=0.0010047826247678742)
Cluster2  v.s.  Cluster8
KruskalResult(statistic=6.979590799175573, pvalue=0.008244445756834107)
Origin  v.s.  Cluster3
KruskalResult(statistic=0.39132280492970595, pvalue=0.5316048977032042)

Cluster3  v.s.  Cluster4
KruskalResult(statistic=0.12195126042256367, pvalue=0.726927750885279)
Cluster3  v.s.  Cluster5
KruskalResult(statistic=0.41942691223614376, pvalue=0.5172231424938609)
Cluster3  v.s.  Cluster6
KruskalResult(statistic=0.3612656940618279, pvalue=0.5478041403791607)
Cluster3  v.s.  Cluster7
KruskalResult(statistic=4.408083154797793, pvalue=0.03576901223485478)
Cluster3  v.s.  Cluster8
KruskalResult(statistic=0.24732865185560313, pvalue=0.6189623685903702)
Origin  v.s.  Cluster4
KruskalResult(statistic=2.01080819967153, pvalue=0.1561820970018361)

Cluster4  v.s.  Cluster5
KruskalResult(statistic=0.11039553458125592, pvalue=0.7396942739442232)
Cluster4  v.s.  Cluster6
KruskalResult(statistic=0.15791029366096926, pvalue=0.6910877911230071)
Cluster4  v.s.  Cluster7
KruskalResult(statistic=3.9214943521651673, pvalue=0.04767248674555412)
Cluster4  v.s.  Cluster8
KruskalResult(statistic=0.050085916428695774, pvalue=0.822913840197057)
Origin  v.s.  Cluster5
KruskalResult(statistic=5.357699811202079, pvalue=0.02063096798807051)

Cluster5  v.s.  Cluster6
KruskalResult(statistic=0.05657911655454407, pvalue=0.8119868485888)
Cluster5  v.s.  Cluster7
KruskalResult(statistic=3.688202696740334, pvalue=0.054798635383922746)
Cluster5  v.s.  Cluster8
KruskalResult(statistic=0.00017673522137785533, pvalue=0.9893930914809476)
Origin  v.s.  Cluster6
KruskalResult(statistic=1.270768075056688, pvalue=0.2596226389959579)

Cluster6  v.s.  Cluster7
KruskalResult(statistic=2.045901121052971, pvalue=0.1526165911694677)
Cluster6  v.s.  Cluster8
KruskalResult(statistic=0.04547589320511672, pvalue=0.8311313659380093)
Origin  v.s.  Cluster7
KruskalResult(statistic=6.659530015869154, pvalue=0.009862692390445665)

Cluster7  v.s.  Cluster8
KruskalResult(statistic=3.152610064934689, pvalue=0.07580561878252544)
Origin  v.s.  Cluster8
KruskalResult(statistic=1.6480646223500504, pvalue=0.19922255114611542)

Kruskal-Wallis Significance Test: 年齡層

Origin  v.s.  Cluster1
KruskalResult(statistic=0.03999632833021132, pvalue=0.84148776019136)

Cluster1  v.s.  Cluster2
KruskalResult(statistic=0.8438673191812706, pvalue=0.35829305290966473)
Cluster1  v.s.  Cluster3
KruskalResult(statistic=0.9895927221205166, pvalue=0.3198419371355021)
Cluster1  v.s.  Cluster4
KruskalResult(statistic=0.7124292746149246, pvalue=0.39863852932609556)
Cluster1  v.s.  Cluster5
KruskalResult(statistic=0.018153290019565872, pvalue=0.8928220749635173)
Cluster1  v.s.  Cluster6
KruskalResult(statistic=2.22926323533134, pvalue=0.13541840775604372)
Cluster1  v.s.  Cluster7
KruskalResult(statistic=0.20929995604006657, pvalue=0.6473166453586003)
Cluster1  v.s.  Cluster8
KruskalResult(statistic=0.011056399028928516, pvalue=0.9162572507816359)
Origin  v.s.  Cluster2
KruskalResult(statistic=1.1066698071667773, pvalue=0.2928070058514082)

Cluster2  v.s.  Cluster3
KruskalResult(statistic=0.22168022897966344, pvalue=0.6377626397375683)
Cluster2  v.s.  Cluster4
KruskalResult(statistic=2.8508020843033988, pvalue=0.0913283623969422)
Cluster2  v.s.  Cluster5
KruskalResult(statistic=1.1123788437548703, pvalue=0.29156542471814717)
Cluster2  v.s.  Cluster6
KruskalResult(statistic=3.9640305232737423, pvalue=0.04648228087871218)
Cluster2  v.s.  Cluster7
KruskalResult(statistic=0.024094693666527674, pvalue=0.8766442116066322)
Cluster2  v.s.  Cluster8
KruskalResult(statistic=0.22507161690784908, pvalue=0.6352024772092301)
Origin  v.s.  Cluster3
KruskalResult(statistic=1.0440505253358852, pvalue=0.3068812945123672)

Cluster3  v.s.  Cluster4
KruskalResult(statistic=3.0038547107921962, pvalue=0.08306666410626226)
Cluster3  v.s.  Cluster5
KruskalResult(statistic=1.205541341977352, pvalue=0.2722169488482195)
Cluster3  v.s.  Cluster6
KruskalResult(statistic=4.500308585668356, pvalue=0.0338887374042631)
Cluster3  v.s.  Cluster7
KruskalResult(statistic=0.007158218790789416, pvalue=0.9325744242248462)
Cluster3  v.s.  Cluster8
KruskalResult(statistic=0.4804969761072435, pvalue=0.48819729307936577)
Origin  v.s.  Cluster4
KruskalResult(statistic=1.372411793841398, pvalue=0.24139793603587467)

Cluster4  v.s.  Cluster5
KruskalResult(statistic=0.49343305123533227, pvalue=0.48239988261540834)
Cluster4  v.s.  Cluster6
KruskalResult(statistic=1.3092659726773686, pvalue=0.252527598003149)
Cluster4  v.s.  Cluster7
KruskalResult(statistic=0.8717339195393369, pvalue=0.350475733302933)
Cluster4  v.s.  Cluster8
KruskalResult(statistic=0.5315653840195209, pvalue=0.46594948209907605)
Origin  v.s.  Cluster5
KruskalResult(statistic=0.13954584543582527, pvalue=0.7087329213822693)

Cluster5  v.s.  Cluster6
KruskalResult(statistic=2.0530371903126747, pvalue=0.1519028964620695)
Cluster5  v.s.  Cluster7
KruskalResult(statistic=0.2721728647176598, pvalue=0.6018779067519523)
Cluster5  v.s.  Cluster8
KruskalResult(statistic=0.03532458719037941, pvalue=0.8509171299695824)
Origin  v.s.  Cluster6
KruskalResult(statistic=2.908890078890593, pvalue=0.08809248120877675)

Cluster6  v.s.  Cluster7
KruskalResult(statistic=2.045654699236374, pvalue=0.1526413041399338)
Cluster6  v.s.  Cluster8
KruskalResult(statistic=1.8911334057215483, pvalue=0.16907414011338845)
Origin  v.s.  Cluster7
KruskalResult(statistic=0.18957536780510245, pvalue=0.6632702703779674)

Cluster7  v.s.  Cluster8
KruskalResult(statistic=0.12674072585668913, pvalue=0.7218355945023107)
Origin  v.s.  Cluster8
KruskalResult(statistic=5.722176805055928e-06, pvalue=0.9980913764261266)

Kruskal-Wallis Significance Test: 每人點擊不重複品類數

Origin  v.s.  Cluster1
KruskalResult(statistic=8.23822032642518, pvalue=0.004101733097824593)

Cluster1  v.s.  Cluster2
KruskalResult(statistic=116.03128339847774, pvalue=4.678578951055531e-27)
Cluster1  v.s.  Cluster3
KruskalResult(statistic=93.35520125442977, pvalue=4.370315714918511e-22)
Cluster1  v.s.  Cluster4
KruskalResult(statistic=39.694187158997735, pvalue=2.970081901477119e-10)
Cluster1  v.s.  Cluster5
KruskalResult(statistic=0.5561031598391444, pvalue=0.45583461364511635)
Cluster1  v.s.  Cluster6
KruskalResult(statistic=7.947544699830238, pvalue=0.004815266113041544)
Cluster1  v.s.  Cluster7
KruskalResult(statistic=33.54080029993269, pvalue=6.978466335452741e-09)
Cluster1  v.s.  Cluster8
KruskalResult(statistic=15.071141480583082, pvalue=0.00010353407638368597)
Origin  v.s.  Cluster2
KruskalResult(statistic=127.27325257783605, pvalue=1.6187810483696274e-29)

Cluster2  v.s.  Cluster3
KruskalResult(statistic=12.795490769934723, pvalue=0.00034745582183721464)
Cluster2  v.s.  Cluster4
KruskalResult(statistic=222.55460194594437, pvalue=2.5071137662168034e-50)
Cluster2  v.s.  Cluster5
KruskalResult(statistic=130.49905910872744, pvalue=3.1868326328583995e-30)
Cluster2  v.s.  Cluster6
KruskalResult(statistic=62.161894007728485, pvalue=3.1635054192754187e-15)
Cluster2  v.s.  Cluster7
KruskalResult(statistic=79.58811161610917, pvalue=4.611922229665893e-19)
Cluster2  v.s.  Cluster8
KruskalResult(statistic=100.50295419788014, pvalue=1.1822049756621235e-23)
Origin  v.s.  Cluster3
KruskalResult(statistic=78.22386591980532, pvalue=9.200024501666556e-19)

Cluster3  v.s.  Cluster4
KruskalResult(statistic=160.2001684852884, pvalue=1.0230906121295198e-36)
Cluster3  v.s.  Cluster5
KruskalResult(statistic=100.8442669571208, pvalue=9.950740802634544e-24)
Cluster3  v.s.  Cluster6
KruskalResult(statistic=76.93142291514829, pvalue=1.76998423992593e-18)
Cluster3  v.s.  Cluster7
KruskalResult(statistic=89.34156111391607, pvalue=3.3220624839845353e-21)
Cluster3  v.s.  Cluster8
KruskalResult(statistic=98.95015215597013, pvalue=2.5893812585710492e-23)
Origin  v.s.  Cluster4
KruskalResult(statistic=87.73913559281954, pvalue=7.468201463946314e-21)

Cluster4  v.s.  Cluster5
KruskalResult(statistic=31.443809467682893, pvalue=2.05296104166224e-08)
Cluster4  v.s.  Cluster6
KruskalResult(statistic=1.105985106007398, pvalue=0.29295636551957105)
Cluster4  v.s.  Cluster7
KruskalResult(statistic=7.951259762560094, pvalue=0.004805391540596625)
Cluster4  v.s.  Cluster8
KruskalResult(statistic=0.505825574656108, pvalue=0.47695153814262936)
Origin  v.s.  Cluster5
KruskalResult(statistic=14.113923096309016, pvalue=0.00017206545391015745)

Cluster5  v.s.  Cluster6
KruskalResult(statistic=5.845445503402833, pvalue=0.015617419501797732)
Cluster5  v.s.  Cluster7
KruskalResult(statistic=30.01748209838411, pvalue=4.2816868000404786e-08)
Cluster5  v.s.  Cluster8
KruskalResult(statistic=11.592302043017986, pvalue=0.0006622538197659553)
Origin  v.s.  Cluster6
KruskalResult(statistic=16.75124356941467, pvalue=4.261432558660081e-05)

Cluster6  v.s.  Cluster7
KruskalResult(statistic=10.637308832579778, pvalue=0.0011082883225478214)
Cluster6  v.s.  Cluster8
KruskalResult(statistic=0.1187543878207423, pvalue=0.7303894025168823)
Origin  v.s.  Cluster7
KruskalResult(statistic=42.510767355168014, pvalue=7.029418789816986e-11)

Cluster7  v.s.  Cluster8
KruskalResult(statistic=8.112397294804124, pvalue=0.004396354795653034)
Origin  v.s.  Cluster8
KruskalResult(statistic=31.81086226416243, pvalue=1.6993968702549776e-08)

Kruskal-Wallis Significance Test: 每人點擊不重複商家數

Origin  v.s.  Cluster1
KruskalResult(statistic=10.7941087782813, pvalue=0.0010182362311007688)

Cluster1  v.s.  Cluster2
KruskalResult(statistic=130.00960568997937, pvalue=4.077994271136748e-30)
Cluster1  v.s.  Cluster3
KruskalResult(statistic=124.98494793047088, pvalue=5.128221010251938e-29)
Cluster1  v.s.  Cluster4
KruskalResult(statistic=42.569981981566514, pvalue=6.819800076821334e-11)
Cluster1  v.s.  Cluster5
KruskalResult(statistic=0.5215537666754189, pvalue=0.4701796409240545)
Cluster1  v.s.  Cluster6
KruskalResult(statistic=5.2388823145403975, pvalue=0.022087459874711054)
Cluster1  v.s.  Cluster7
KruskalResult(statistic=35.7819748075688, pvalue=2.206802087258499e-09)
Cluster1  v.s.  Cluster8
KruskalResult(statistic=14.162340239939004, pvalue=0.00016769356417545156)
Origin  v.s.  Cluster2
KruskalResult(statistic=134.5012292921487, pvalue=4.244583568614948e-31)

Cluster2  v.s.  Cluster3
KruskalResult(statistic=25.76442302106274, pvalue=3.857336028293343e-07)
Cluster2  v.s.  Cluster4
KruskalResult(statistic=247.25802572664128, pvalue=1.0285555348252784e-55)
Cluster2  v.s.  Cluster5
KruskalResult(statistic=144.16352533198523, pvalue=3.2721907823207724e-33)
Cluster2  v.s.  Cluster6
KruskalResult(statistic=59.77564673824263, pvalue=1.0631073950165115e-14)
Cluster2  v.s.  Cluster7
KruskalResult(statistic=84.97650329619015, pvalue=3.0193185165283734e-20)
Cluster2  v.s.  Cluster8
KruskalResult(statistic=100.66314606595505, pvalue=1.090355911736526e-23)
Origin  v.s.  Cluster3
KruskalResult(statistic=106.02482111083611, pvalue=7.281739231803705e-25)

Cluster3  v.s.  Cluster4
KruskalResult(statistic=196.05951440660476, pvalue=1.5127805370782557e-44)
Cluster3  v.s.  Cluster5
KruskalResult(statistic=132.77710960699142, pvalue=1.0115421931582257e-30)
Cluster3  v.s.  Cluster6
KruskalResult(statistic=87.65941658976149, pvalue=7.77534932846423e-21)
Cluster3  v.s.  Cluster7
KruskalResult(statistic=97.01484354991247, pvalue=6.880954234761613e-23)
Cluster3  v.s.  Cluster8
KruskalResult(statistic=112.1743850180622, pvalue=3.2722472698113645e-26)
Origin  v.s.  Cluster4
KruskalResult(statistic=98.54516219537031, pvalue=3.176960718583697e-23)

Cluster4  v.s.  Cluster5

KruskalResult(statistic=33.97168457433739, pvalue=5.59199697284502e-09)
Cluster4  v.s.  Cluster6
KruskalResult(statistic=3.080069049936793, pvalue=0.07925716114901782)
Cluster4  v.s.  Cluster7
KruskalResult(statistic=9.650106469198912, pvalue=0.0018934060988359074)
Cluster4  v.s.  Cluster8
KruskalResult(statistic=0.6445968574865523, pvalue=0.4220510939620554)
Origin  v.s.  Cluster5
KruskalResult(statistic=17.124596501902623, pvalue=3.500601173738907e-05)

Cluster5  v.s.  Cluster6
KruskalResult(statistic=3.5763037016890245, pvalue=0.05860942655498483)
Cluster5  v.s.  Cluster7
KruskalResult(statistic=31.95790847459757, pvalue=1.575496443198103e-08)
Cluster5  v.s.  Cluster8
KruskalResult(statistic=10.713369693974574, pvalue=0.0010636413763579742)
Origin  v.s.  Cluster6
KruskalResult(statistic=13.868265489277892, pvalue=0.0001960815875320615)

Cluster6  v.s.  Cluster7
KruskalResult(statistic=15.74107333572741, pvalue=7.262985614510052e-05)
Cluster6  v.s.  Cluster8
KruskalResult(statistic=0.5302938854013114, pvalue=0.4664833301756396)
Origin  v.s.  Cluster7
KruskalResult(statistic=46.0897820194705, pvalue=1.1295603972596667e-11)

Cluster7  v.s.  Cluster8
KruskalResult(statistic=8.94208344200283, pvalue=0.0027867468540839313)
Origin  v.s.  Cluster8
KruskalResult(statistic=31.80470294937537, pvalue=1.7047945077995717e-08)

Kruskal-Wallis Significance Test: 每人點擊不重複品牌數

Origin  v.s.  Cluster1
KruskalResult(statistic=10.012127314956752, pvalue=0.0015551278976409417)

Cluster1  v.s.  Cluster2
KruskalResult(statistic=126.38264693479125, pvalue=2.535609486331597e-29)
Cluster1  v.s.  Cluster3
KruskalResult(statistic=117.72070465136716, pvalue=1.996059448187261e-27)
Cluster1  v.s.  Cluster4
KruskalResult(statistic=43.75382936223694, pvalue=3.7238718004705464e-11)
Cluster1  v.s.  Cluster5
KruskalResult(statistic=0.478980627855195, pvalue=0.4888844134591708)
Cluster1  v.s.  Cluster6
KruskalResult(statistic=5.060426389373511, pvalue=0.02447821489042146)
Cluster1  v.s.  Cluster7
KruskalResult(statistic=36.22859409048077, pvalue=1.7547688077575303e-09)
Cluster1  v.s.  Cluster8
KruskalResult(statistic=15.34111193828606, pvalue=8.974212083787284e-05)
Origin  v.s.  Cluster2
KruskalResult(statistic=132.38349481211114, pvalue=1.2333651591057286e-30)

Cluster2  v.s.  Cluster3
KruskalResult(statistic=24.255487619696165, pvalue=8.436637154057288e-07)
Cluster2  v.s.  Cluster4
KruskalResult(statistic=246.19556054034715, pvalue=1.7533426150192826e-55)
Cluster2  v.s.  Cluster5
KruskalResult(statistic=138.27087102321966, pvalue=6.358439306033648e-32)
Cluster2  v.s.  Cluster6
KruskalResult(statistic=58.91168064670106, pvalue=1.649103399144793e-14)
Cluster2  v.s.  Cluster7
KruskalResult(statistic=85.20593090354862, pvalue=2.6885423996584514e-20)
Cluster2  v.s.  Cluster8
KruskalResult(statistic=102.92635223279181, pvalue=3.478418105502783e-24)
Origin  v.s.  Cluster3
KruskalResult(statistic=100.92767159757226, pvalue=9.540435511019134e-24)

Cluster3  v.s.  Cluster4
KruskalResult(statistic=189.91269540147283, pvalue=3.321909318276829e-43)
Cluster3  v.s.  Cluster5
KruskalResult(statistic=124.43718999437218, pvalue=6.758493510558691e-29)
Cluster3  v.s.  Cluster6
KruskalResult(statistic=83.85880559876645, pvalue=5.314037220406396e-20)
Cluster3  v.s.  Cluster7
KruskalResult(statistic=95.69894449487253, pvalue=1.337517442611957e-22)
Cluster3  v.s.  Cluster8
KruskalResult(statistic=111.47322369844761, pvalue=4.6605760442431445e-26)
Origin  v.s.  Cluster4
KruskalResult(statistic=98.67336093898416, pvalue=2.977810045706562e-23)

Cluster4  v.s.  Cluster5
KruskalResult(statistic=34.86743980849427, pvalue=3.5293398472964674e-09)
Cluster4  v.s.  Cluster6
KruskalResult(statistic=3.445148513948975, pvalue=0.06343772014073953)
Cluster4  v.s.  Cluster7
KruskalResult(statistic=9.699393541538342, pvalue=0.0018432883500806847)
Cluster4  v.s.  Cluster8
KruskalResult(statistic=0.5426982987135901, pvalue=0.46131661033111626)
Origin  v.s.  Cluster5
KruskalResult(statistic=15.731211357385602, pvalue=7.300949056388611e-05)

Cluster5  v.s.  Cluster6
KruskalResult(statistic=3.4527049443911206, pvalue=0.06314834559905583)
Cluster5  v.s.  Cluster7
KruskalResult(statistic=32.28605819999962, pvalue=1.3306467028730049e-08)
Cluster5  v.s.  Cluster8
KruskalResult(statistic=11.81551475113168, pvalue=0.0005873919051384014)
Origin  v.s.  Cluster6
KruskalResult(statistic=13.368215477892134, pvalue=0.00025592475214904464)

Cluster6  v.s.  Cluster7
KruskalResult(statistic=15.92385034211309, pvalue=6.594250675402293e-05)
Cluster6  v.s.  Cluster8
KruskalResult(statistic=0.6654924875805744, pvalue=0.4146275590935713)
Origin  v.s.  Cluster7
KruskalResult(statistic=46.26434549055747, pvalue=1.0332723681425346e-11)

Cluster7  v.s.  Cluster8
KruskalResult(statistic=8.709028730109809, pvalue=0.0031663786531071145)
Origin  v.s.  Cluster8
KruskalResult(statistic=33.18052651772473, pvalue=8.398743707028012e-09)